<%- include('../includes/head.ejs') %>
</head>

<main>

    <body>
        <h2>Shelf <%= shelfPos %> is already filled!</h2>

        <p>The current item stored on that shelf is:</p>

        <h3><%= item.name %></h3>

        <p>Are you sure you would like to replace <%= item.name %> on shelf <%= shelfPos %>?</p>

        <form action="/item-setup/item-form/<%= shelfPos %>" method="POST">
            <!-- <input type="hidden" name="shelfPos" value="<%= shelfPos %> "> -->
            <button class="btn" type="submit">Yes!</button>
        </form>
        <form action="/item-setup" method="GET">
            <button class="btn" type="submit">No, take me back!</button>
        </form>

    </body>
</main>

</html>