<%- include('../includes/head.ejs') %>
</head>

<body>
    <main>
        <h3>Please edit the item details of shelf <%= shelfPos %> </h3>
        <form action="/item-setup/edit-confirmed" method="POST">
            <div class="form-element">
                <label for="itemName">Name:</label>
                <input type="text" required name="name" id="itemName" value="<%= itemName %>">
            </div>
            <div class="form-element">
                <p>Tags:</p>
                <input type="text" name="tags" id="tags" value="<%= itemTags %>">
            </div>
            <div class="form-element">
                <p>Description:</p>
                <textarea name="notes" id="notes" rows="10"><%= itemNotes %></textarea>
            </div>
            <div class="form-element">
                <p>Price:</p>
                <input type="number" step="0.01" name="price" id="price" value="<%= itemPrice %>">
            </div>
            <div class="form-element">
                <p>Weight:</p>
                <input type="number" required step="0.01" name="weight" id="weight" value="<%= itemWeight %>">
            </div>
            <div class="form-element">
                <p>ImageLink:</p>
                <input type="text" name="imageLink" id="imageLink" value="<%= itemImageLink %>">
            </div>
            <input type="hidden" name="shelfPos" id="shelfPos" value="<%= shelfPos %> ">
            <input type="hidden" name="itemId" id="itemId" value="<%= itemId %>">
            <button class="btn" type="submit">Update Item</button>
        </form>
        <form action="/item-setup" method="GET">
            <button class="btn" type="submit">No, take me back!</button>
        </form>
    </main>
</body>

</html>