<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/shelfview.css">
</head>
<%- include('includes/navigation.ejs') %>
<main>
    <p>this is a shelf overview page</p>

    <% for (var i = 0; i < shelves.length; i ++) { %>
    <!-- <a href="/shelf-details/<%= shelves[i].shelfPosition %>">click -->
    <a href="/shelf-details/<%= shelves[i].shelfPosition %>" class="productGrid">

        <div class="imagebox">
            <% if (shelves[i].imageLink != null) { %>
            <img id="product-image" src="<%= shelves[i].imageLink %>" alt="">
            <% } else { %>
            <p>no image</p>
            <% } %>
        </div>

        <div class="detailsbox">
            <% if (shelves[i].name != null) { %>
            <h2><%= shelves[i].name %></h2>
            <% } else { %>
            <h2>---Shelf Empty---</h2>
            <% } %>
            <br>

            <p><%= shelves[i].tags %></p>
        </div>

        <div class="numberbox">
            <% if (weights[i] != null && shelves[i].weight != null) { %>
            <p id="number-text"><%= 
                        Math.round(weights[i] / shelves[i].weight)
                    %></p>
            <% } else if (shelves[i].weight == null) { %>
            <h2>shelf empty</h2>
            <% } else { %>
            <h2>no weight records</h2>
            <% } %>
        </div>


        <!-- https://stackoverflow.com/questions/16098397/pass-variables-to-javascript-in-expressjs/16098699 -->
        <div class="statusbar-current" onload="statusBar()">
            <div class="statusbar-full" id="fill-meter<%= i %>">
                <p id="percentage<%= i %>"> xxx </p>
                <script>
                    function htmlDecode(input) {
                        var e = document.createElement('div');
                        e.innerHTML = input;
                        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
                    }
                    var weight = JSON.parse(htmlDecode("<%= JSON.stringify(weights[i]) %>"));
                    var hundredPercent = JSON.parse(htmlDecode("<%= JSON.stringify(shelves[i].hundredPercent) %>"));
                    var i = JSON.parse(htmlDecode("<%= i %>"));

                    console.log(weight);
                    console.log('well this does not work...')
                    var elem = document.getElementById("fill-meter" + "" + i);
                    var width = Math.round((weight / hundredPercent) * 100);
                    console.log(width)
                    elem.style.width = width + '%';
                    var p = document.getElementById("percentage" + "" + i);
                    p.innerHTML = "" + width + "%";
                </script>
            </div>
        </div>

    </a>
    <br>

    <% } %>
</main>
<%- include('includes/footer.ejs')%>