<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<%- include('../includes/navigation.ejs') %>
<main>
    <div class="form-box">
        <form action="/shelf-details/edit-item/changes-saved" method="post" enctype="multipart/form-data">

            <div class="form-element">
                <p>Name:</p>
                <input type="text" required name="name" id="itemName" value="<%=itemInfo.name%>">
            </div>
            <div class="form-element">
                <p>Tags:</p>
                <input type="text" name="tags" id="tags" value="<%=itemInfo.tags%>">
            </div>
            <div class="form-element">
                <p>Description:</p>
                <textarea name="notes" id="notes" rows="10"><%=itemInfo.notes%></textarea>
            </div>
            <div class="form-element">
                <p>Price:</p>
                <input type="number" step="0.01" name="price" id="price" value="<%=itemInfo.price%>">
            </div>
            <div class="form-element">
                <p>Weight:</p>
                <input type="number" required step="0.01" name="weight" id="weight" value="<%=itemInfo.weight%>">
            </div>
            <div class="image-upload">

                <% if (itemInfo.imageLink != null) { %>
                <p>This Item already has an image uploaded.</p>
                <img id="edit-item-image" src="<%= itemInfo.imageLink %> " alt="<%= itemInfo.name %>  image">
                <p>Replace image file, by uploading, or keep old, by leaving</p>
                <input type="hidden" name="oldImg" id="oldImg" value="<%= itemInfo.imageLink %>">

                <% } else { %>
                <p>Add an image by uploading (5MB max size)</p>
                <% } %>
                <input name="shelfImage" type="file" accept="image/*">
            </div>

            <input type="hidden" name="shelfPos" id="shelfPos" value="<%= shelfPos %>">
            <input type="hidden" name="itemId" id="itemId" value="<%= itemInfo.id %>">


            <button class="btn" type="submit">Edit Item</button>
        </form>
        <form action="/shelf-details/<%= shelfPos %>" method="GET">
            <button class="btn" type="submit">No, take me back!</button>
        </form>

    </div>

</main>
<%- include('../includes/footer.ejs')%>