<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shelfDetails.css">
</head>
<%- include('../includes/navigation.ejs') %>
<main>

    <% if(details.name == null){ %>
    <div class="form-box">
        <div id="empty-shelf-box">
            <h2>Shelf <%= details.shelfPosition %> is currently empty.</h2>
            <!-- <br><br> -->
            <h2>Would you like to set up a new item?</h2>

            <form action="/item-setup/item-form/<%= details.shelfPosition %>" method="POST">
                <input type="hidden" name="shelfPos" value="<%= details.shelfPosition %> ">
                <button class="btn" type="submit">
                    <h1>Set Up a New Item</h1>
                </button>
            </form>
        </div>
    </div>
    <!-- <div class="shelf-details"> -->
    </div>

    <% } else { %>

    <div class="shelf-details">

        <div class="imagebox">
            <% if (details.imageLink == null || details.imageLink == "") { %>
            <p>no image</p>
            <% } else { %>
            <img id="product-image" src="<%= details.imageLink %>" alt="">
            <% } %>
        </div>

        <div class="detailsbox">
            <h2><%= details.name %></h2>
            <p id="tags"><%= details.tags %></p>
            <p>Price: £<%= details.price %></p>
        </div>

        <div class="position-box">
            <h2>shelf</h2>
            <h3><%= details.shelfPosition %></h3>
        </div>

        <div class="item-weight">
            <h2>weight</h2>
            <h3><%= details.weight %>g</h3>
        </div>

        <div class="settings-header">
            <h2>Details and settings</h2>
        </div>

        <div class="shelf-weight">

            <% if (weight == null) { %>
            <h2>No weight records available</h2>
            <% } else { %>
            <h2>Current Shelf Weight = <%= weight %>g</h2>
            <h2>Number of Items Left = <%= Math.round(weight / details.weight) %></h2>
            <% if (details.hundredPercent == null) { %>
            <h2>Percent full = not set</h2>
            <% } else { %>
            <h2>Percent full = <%= Math.round((weight / details.hundredPercent) * 100) %>%</h2>
            <% } %>
            <% } %>



            <br>
            <% if (details.thresholdType == 'NUMBER') { %>
            <h2>Warning Type = Number of Items</h2>
            <h2>Warning Limit = <%= details.thresholdValue %> items</h2>
            <% } else if(details.thresholdType == 'ABSOLUTE') { %>
            <h2>Warning type = Absolute weight</h2>
            <h2>Warning limit = <%= details.thresholdValue %> g</h2>
            <% } else if(details.thresholdType == 'PERCENT') { %>
            <h2>Warning type = Percentage weight</h2>
            <h2>Warning limit = <%= details.thresholdValue %> %</h2>
            <% } %>

            <% if (details.hundredPercent == null) { %>
            <h2>100% Weight = not set</h2>
            <% } else { %>
            <h2>100% Weight = <%= details.hundredPercent %>g</h2>
            <% } %>
            <br>
            <% if (details.autocalc100Percent == 0) { %>
            <h2>Auto Calculate 100% = Off</h2>
            <% } else { %>
            <h2>Auto Calculate 100% = On</h2>
            <% } %>
            <% if (details.warning == 0) { %>
            <h2>Send warning = Off</h2>
            <% } else { %>
            <h2>Send warning = On</h2>
            <% } %>



        </div>

        <div class="item-notes">
            <h2>Item notes/ re-order information:</h2>

            <p><%= details.notes %></p>

        </div>
        <a href="/shelf-details/edit-item/<%= details.shelfPosition %>" class="edit-item">
            <h1>edit item details</h1>
        </a>
        <a href="/shelf-details/edit-shelf/<%= details.shelfPosition %>" class="shelf-settings">
            <h1>change shelf settings</h1>
        </a>
        <a href="/shelf-details/confirm-new/<%= details.shelfPosition %>" class="new-item">
            <h1>Set up a new item on this shelf</h1>
        </a>

        <a href="/shelf-details/confirm-delete/<%= details.shelfPosition %>" class="delete-item">
            <h1>Delete Item and reset settings</h1>
        </a>
        <!-- <form class="delete-item" action="/delete/confirm" method="POST">
            <input type="hidden" name="shelfPos" value="<%= details.shelfPosition %> ">
            <button class="btn" type="submit">
                <h1>Delete Item and reset settings</h1>
            </button>
        </form> -->

    </div>

    <% } %>
</main>
<%- include('../includes/footer.ejs')%>